* {
    --bs-gutter-x: 0 !important;
}


body{
    background-image: url("seniorbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navcolor{
    background-color: #5D83AB;
    width: 100%;
    height: 200px;
}
.bodybox{
  background-color: #5D83AB;
  width: 500px;
  height: 500px;
  transform:translate(1100px, -500px) ;
}
.instructions{
  background-color: #5D83AB;
  width: 400px;
  height: 100px;
  transform:translate(50px, 110px) ;
}
.bodycolor{
    background-color: #5D83AB;
    width: 650px !important;
    height: 430px !important;
}
.name{
    font-size: 100px;
    transform: translate( -150px, 25px);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cardlogo{
    width: 200px;
    height: 250px;
    transform: translate(0px, -275px);
    scale: 70%;
}
.bodytxt{
    font-size: 25px;
    font-family: "Nanum Myeongjo", serif;
    
}
.mephoto{
    width: 400px;
    height: 600px;
    transform: translate( 500px, -25px);
	border-style: solid;
	border-color: #5D83AB;
}

.flex_cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .flex_cards .card {
	width: 350px; /* Adjust as necessary */
	margin: 15px;
	transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .flex_cards .card img {
	width: 100%; /* Ensure images fit within the card */
	height: auto;
	display: block;
  }
  
  .flex_cards .card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
.card-pack {
	border: none;
	padding: 0;
	margin-bottom: 20px;
	position: relative;
  width: 400px;
  height: 450px;
 
  }
  
  .open-button {
	display: block;
	cursor: pointer;
  width: 400px;
  height: 550px;
  transform: translate(50px, 20px);
  }
  
  .hidden-cards {
	display: none;
	margin-top: 20px;
  overflow: none;
  transform: translate( 500px, -500px)
  }
  
  .hidden-cards img {
	width: 150px; /* Adjust as necessary */
	height: auto;
	margin: 10px;
  }
  
  #toggleCards:checked + .hidden-cards {
	display: flex;
	flex-wrap: wrap;
  }
  #pauseButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #fff;
	color: #000;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
  }
  
  
