* {
    --bs-gutter-x: 0 !important;
}


body{
    background-image: url("seniorbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navcolor{
    background-color: #5D83AB;
    width: 100%;
    height: 200px;
}
.bodycolor{
    background-color: #5D83AB;
    width: 650px !important;
    height: 430px !important;
}
.name{
    font-size: 100px;
    transform: translate( -150px, 25px);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cardlogo{
    width: 200px;
    height: 250px;
    transform: translate(0px, -275px);
    scale: 70%;
}
.bodytxt{
    font-size: 25px;
    
}
.mephoto{
    width: 5;
    height: 600px;
    transform: translate( 450px, 0px);
}


.flex_cards {
	display: flex;
	flex-wrap: wrap;
}
.flex_cards > .card {
	position: relative;
	top: 0;
	width: 300px;
	overflow: hidden;
	margin: 30px;
	transition: all 0.3s ease-in-out;
}
.flex_cards > .card > img {
		width: 100%;
		height: 100%;
}
.flex_cards > .card > .overlay {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		height: 100%;
		width: 230%;
		opacity: 0;
		background: rgb(255,255,255);
		background: linear-gradient(215deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 55%, rgba(255,255,255,0) 56%);
		transition: all 0.3s ease-in-out;
}
.flex_cards > .card:hover {
	top: -5px;
	box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.7);
	transform: perspective(600px) rotateX(3deg);
}
.flex_cards > .card:hover > .overlay {
		width: 150%;
		opacity: 0.4;
}
